.filter-item {
  display: inline-block;
  font-weight: 900;
  padding-right: 15px;
  cursor: pointer;
}

.clear-items {
  font-weight: 200;
  padding-left: 20px;
}

.item-count {
  font-weight: 200;
}